        <div class="navbar">
            <a href="{% url 'HOME' %}"><img src="/static/IMAGES/logo.png" class="logo" alt="TMS Logo"></a>
            <div class="brand">
                <h1>Task Management</h1>
                <h4>System</h4>
            </div>
            <ul class="nav">
                <li><a href="{% url 'ADMINLOGIN' %}">Admin</a></li>
                <li><a href="{% url 'ABOUT' %}">About</a></li>
                <li><a href="{% url 'employeesignuplogin' %}">Login</a></li>
                <li><a href="{% url 'CONTACT' %}">Contact</a></li>
            </ul>
        </div>
